/* Headers */
h1,
.h1 {
    font-size: var(--text-h1);
}

h2,
.h2 {
    font-size: var(--text-h2);
}

h3,
.h3 {
    font-size: var(--text-h3);
}

h4,
.h4 {
    font-size: var(--text-h4);
}

h5,
.h5 {
    font-size: var(--text-h5);
}

h6,
.h6 {
    font-size: var(--text-h6);
}

/* Paragraphs */
.p1 {
    font-size: var(--text-p1);
}

.p2 {
    font-size: var(--text-p2);
}

.p3 {
    font-size: var(--text-p3);
}

.p4 {
    font-size: var(--text-p4);
}

.p5 {
    font-size: var(--text-p5);
}

.p6 {
    font-size: var(--text-p6);
}
