@theme {
    --color-bg-a: #000000;
    --color-bg-b: #0e0e0e;
    --color-bg-c: #191919;
    --color-bg-d: #1e1e1e;
    --color-bg-e: #353535;

    --color-accent: #90d549;

    --color-error: #c37e7e;
    --color-warn: #e1b664;

    --color-fg-a: #ffffff;
    --color-fg-b: #bdbdbd;
}